#left {
  background-color: white;
}
#right {
  background-color: #F9AB19;
  height: 100%;
}

img {
  width: 100%;
}

#left h1, #left h2 {
  padding: 0 1em 0 1em;
}

#right p {
  margin-right: 40%;
}

#right li {
  margin-right: 25%;
}

@media 

/*pad left and right font 1em and remove right margin*/