body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-variant: small-caps;
}

h1, h2, h3 {
  font-family: 'Space Mono', monospace;
}

#left {
  background-color: white;
}
#right {
  background-color: #F9AB19;
  height: 100%;
}

img {
  width: 100%;
}

/*#left h1, #left h2, #left h3 {
  padding: 0 20px 0 20px;
}*/

#right p {
  margin-right: 40%;
}

#right li {
  margin-right: 25%;
}

.panel-body {
  background-color: #fdf6b4;
}


/*pad left and right font 1em and remove right margin*/