/*whole page*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-variant: small-caps;
  font-size: 400%;
}

h1, h2, h3 {
  font-family: 'Space Mono', monospace;
}

h5 {
  font-size: 125%;
}

/*left panel*/

#left {
  background-color: white;
}

img {
  width: 100%;
  border-radius: 5px;
}

/*right panel*/

#right {
  background-color: #F9AB19;
  height: 100%;
}

#right h1 {
  text-align: center;
}

.panel-body {
  background-color: #fdf6b4;
}

.screenshot {
  border: solid 10px #F96C00;
}


/*pad left and right font 1em and remove right margin*/

@media (max-width: 991px) {
  h1, h2, h3, p, li {
    padding: 0 20px 0 20px;
  }
}